NEXT_PUBLIC_SUPABASE_URL=https://kbjtmiwjqkudgpwulfew.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_0yLLYJ3UcGgVieIJxlDHVw_I37GN0ME
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_secret_F4tLWkRFCKQB0JeQb4MZRA_TjZsohjq
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtianRtaXdqcWt1ZGdwd3VsZmV3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg2NjAzOCwiZXhwIjoyMDk0NDQyMDM4fQ.1i3WMM06-6BphTpkujb_TA8pQkberkcL-injcWCm_k0
IMGBB_API_KEY=100b8b5721281ec801d86ed2aec4d711
IMGBB_API_URL=https://api.imgbb.com/1/upload
LINE_CHANNEL_ACCESS_TOKEN=
LINE_USER_ID=
NEXT_PUBLIC_APP_URL=https://leokanun.vercel.app/
CRON_SECRET=0 22 * * 1-5
